//color
$red-color:                 #A00404;
$primary-color:             #415165;
$primary-light-color:       #96A9C4;
$white-color:               #ffffff;


// 字體相關
$font-weight-light:           300;
$font-weight-bold:            500;
$font-weight-semi-bold:       600;

$font-size-h1:                80px;
$font-size-h2:                32px;
$font-size-h3:                24px;

$font-size-normal:            24px; 
$font-size-small:             20px; 
